doctype html
html(lang="en")
    head
        title=Chat
        style(type='text/css').
            * { margin: 0; padding: 0; box-sizing: border-box; }
            body { font: 13px Helvetica, Arial; }
            form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
            form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
            form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
            #messages { list-style-type: none; margin: 50px; padding: 0; top: 50px;}
            #messages li { padding: 5px 10px; }
            #messages li:nth-child(odd) { background: #eee; }
            .fixTop { position: fixed; top: 0; }
            .floatLeft {float:left;}
            .groupBox {width:100px; text-align: center; border-style: solid; border-width: 1px;}
        script(src='./public/jquery-1.11.1.min.js')
    body
        div.fixTop
            each users, group in groups             
                div.floatLeft.groupBox(id=group + 'group')=users
        ul#messages
            each item in existingMessages
                li=item.senderName + ':' + item.message
        form(id='sendMessage', action='')
            input(id='m', autocomplete='off')
            button.
                Send
    script.
        var receiverGroupId;
        $('#sendMessage').submit(function(e){
            var m = $('#m').val().trim();
            if(!m || !receiverGroupId){
                console.log('missing stuff');
                return false;
            }   
            $.ajax("/message", {
                type: "POST",
                data: JSON.stringify({message: m, receiverGroupId:  receiverGroupId}),
                contentType: "application/json",
                success: function(data){
                    console.log(data);
                    console.log('posted message');
                }
            });
            return false;
        });

        (function poll(){
            setTimeout(function(){
                $.ajax('/poll', {
                    complete: poll,                 
                    success: function(data){
                        console.log(data);
                        if(data.messages){
                            $.each(data.messages, function(i, e){
                                $('<li>', {text: e}).appendTo('#messages');
                            });
                        }
                    }
                });
            }, 100);
        })();

        $('div.floatLeft.groupBox').click(function(){
            receiverGroupId = $(this).attr('id').replace('group', '');
            $.get('/message', {groupId: receiverGroupId}, function(data){
                console.log(data);
                console.log('selected receiverGroupId=' + receiverGroupId);
                
            });
        });

